body {
    font-family: Arial, sans-serif;
    background-color: #eef4f8;
    text-align: center;
    padding: 40px;
}


.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 420px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}


h1 {
    color: #1e3a8a; 
    margin-bottom: 20px;
}


input, select {
    padding: 10px;
    width: 90%;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}


button {
    padding: 12px 20px;
    background-color: #f97316; 
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


button:hover {
    background-color: #ea580c;
}


#div_mensagem {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9fafb;
    border-left: 5px solid #f97316; 
    border-radius: 10px;
    text-align: left;
}


#div_mensagem h2 {
    color: #dc2626; 
}

b {
    color: #1e3a8a;
}

