.about {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h2 {
    font-size: 40px;
    color: #1b2c47;
} 

p {
    text-align: center;
}

.valores {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about .boxes {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.about .box i {
    font-size: 60px;
    color: #1b2c47;
}

.about .box h4 {
    color: #f17524;
    font-size: 20px;
}
