@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.header .container {
    width: 100%;
    height: 100px;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    background-color: #1b2c47;
    font-weight: 600;
    /* position: fixed; */
    border-bottom: 4px solid #f17524;
}

.logo {
    color: #f17524;
    font-weight: bolder;
    font-size: 36px;
    text-decoration: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.banner .container{
    height: 500px;
    width: 100%;
    background-image: url('../assets/imgs/img.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}


.navbar li {
    list-style: none;
    text-decoration: none;
    list-style: none;
}

.agora {
   font-weight: bolder;
   color: #f17524;
}


.navbar a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.navbar a:hover {
    color: #f17524;
    font-weight: bold;
}

.navbar .agora li a {
    color: #f17524;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.profile a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.profile a:hover {
    color: #f17524;
}

.bar {
    color: #f17524;
}

.profile i {
    color: #f17524;
    font-size: 28px;
    transition: 0.3s;
}


footer {
    width: 100%;
    height: 48px;
    background-color: #f17524;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer p {
    color: white;
    font-weight: 800;
}



button {
    background-color: #c73c12;
    padding: 12px 20px;
    border-radius: 8px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
    
}

button:hover {
    background-color: #f17524;
}


.simulador {
    padding: 60px 20px;
    text-align: center;
}

.simulador .container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.simulador input, .simulador select {
    padding: 10px;
    width: 90%;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.simulador button {
    background-color: #f97316;
    color: white;
    font-weight: bold;
}

.simulador button:hover {
    background-color: #ea580c;
}

#div_mensagem {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9fafb;
    border-left: 5px solid #f97316;
    border-radius: 10px;
    text-align: left;
}

#div_mensagem h2 {
    color: red;
}